{
    "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "prettier"],
    "plugins": ["@typescript-eslint", "prettier"],
    "parser": "@typescript-eslint/parser",
    "rules": {
      "prettier/prettier": ["error"]
    }
}